// ================================================================= imports ===

@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic")

// ================================================================== mixins ===

background-cover()
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

animate(property=all, time=0.2s)
  -moz-transition: property time
  -webkit-transition: property time
  -o-transition: property time
  transition: property time

border-box()
  box-sizing: border-box
  -moz-box-sizing: border-box

// ================================================================== resets ===

html, body
  margin: 0
  padding: 0

body
  background: url("../img/cityhall.jpg") no-repeat center center fixed
  background-cover()

  font-family: "Roboto", Arial, sans-serif
  font-weight: 100
  color: #222

h1, h2, h3, h4, h5, h6
  font-weight: inherit

a
  color: inherit
  text-decoration: inherit

// ======================================================== pages 'n' things ===

.page
  overflow: auto !important

.nav-link
  position: absolute
  top: 50%
  padding: 0 40px
  cursor: pointer

  font-size: 20px
  font-weight: 100
  text-transform: lowercase

  animate(padding)

  &:hover
    padding: 0 30px

#main
  .candidates-link:before
    content: "\276E"
    padding-right: 10px

  .candidates-link
    left: 0

  .issues-link:after
    content: "\276F"
    padding-left: 10px

  .issues-link
    right: 0

#candidates
  .nav-link:after
    content: "\276F"
    padding-left: 10px

  .nav-link
    color: white
    right: 0

#issues
  .nav-link:before
    content: "\276E"
    padding-right: 10px

  .nav-link
    color: white
    left: 0

// ==================================================================== main ===

.main-title
  position: absolute
  top: 80px
  left: 0px

  overflow: hidden
  max-width: 480px
  padding: 20px 40px

  text-align: right

  outline: 1px dotted black
  outline-offset: 10px
  background: rgba(black, 0.9)
  color: white


  h1
    margin: 0
    font-size: 48px
    font-weight: 300

  h2
    margin: 40px 0 0
    font-size: 16px
    font-weight: 100
    font-style: italic

.main-intro
  position: absolute
  bottom: 80px
  right: 0px

  overflow: hidden
  max-width: 480px
  padding: 20px 40px

  outline: 1px dotted black
  outline-offset: 10px
  background: rgba(black, 0.9)
  color: white

  line-height: 2em

// ============================================================== candidates ===

#candidates
  .page-content
    min-height: 100%
    padding: 40px
    background: rgba(black, 0.9)
    color: white

  h1
    margin: 0 0 30px
    padding-bottom: 6px
    border-bottom: 1px dotted white
    font-size: 48px

    strong
      font-weight: 700

  ul
    list-style: none
    padding: 0
    max-width: 1000px

    li
      display: inline-block
      position: relative
      margin: 12px 24px 12px 0

      .thumbnail
        border: 1px dotted #FFF

        height: 160px
        width: 160px

      .caption
        position: absolute
        top: 1px
        left: 1px

        height: 160px
        width: 160px
        padding: 70px 10px 10px
        background: rgba(#000, 0.8)
        color: white
        opacity: 0

        font-size: 14px
        font-weight: 300
        text-align: center;

        animate(opacity, 0.4s)
        border-box()

      &:hover .caption
        opacity: 1

// ================================================================== issues ===

#issues
  .page-content
    min-height: 100%
    padding: 40px
    background: rgba(black, 0.9)
    color: white

  h1
    margin: 0 0 30px
    padding-bottom: 6px
    border-bottom: 1px dotted white
    font-size: 48px
    text-align: right

    strong
      font-weight: 700

  .issues-main
    overflow: auto
    float: right

  .sort-issue
    float: left
    width: 300px

    .issue
      font-size: 36px
      line-height: 1.5em
      cursor: pointer

      &:hover, &.selected
        font-weight: 700

    .clear-issues
      margin-top: 20px
      cursor: pointer

      &:hover
        text-decoration: underline

  .sort-candidate
    float: left
    width: 200px

    .candidate
      font-size: 12px
      line-height: 1.8em
      cursor: pointer

      &:hover, &.selected
        font-weight: 700

    .clear-candidates
      margin-top: 20px
      cursor: pointer

      &:hover
        text-decoration: underline

  .issues-quotes
    float: left
    padding-left: 40px
    width: 600px

    .quote
      position: relative
      margin: 40px 0
      padding-left: 20px

    .quote:before
      position: absolute
      top: -8px
      left: 0px

      content: "\201C"
      font-family: Georgia
      font-weight: 100
      font-size: 40px

    .quote-author
      margin-top: 10px
      padding-left: 40px

      font-weight: 400

    .quote-author:before
      content: "\2014"


// ================================================================== modals ===

#lean_overlay
  position: fixed
  z-index: 100
  top: 0px
  left: 0px
  height: 100%
  width: 100%
  background: #000
  display: none

.modal
  position: absolute
  z-index: 200
  background: #FFF

  width: 500px
  padding: 20px
  margin-left: -270px !important
  border-radius: 4px
  box-shadow: 0px 0px 10px #000

  display: none

.biography
  h2
    margin: 0 0 20px
    font-size: 36px

  .biography-photo
    float: left
    width: 100px
    height: 100px

  .biography-main
    float: right
    width: 380px

    .biography-info
      ul
        list-style: none
        margin: 0
        padding: 0